<div class="az-header">
    <div class="container-fluid">
      <div class="az-header-left">
        <a routerLink="/" class="az-logo"><img style="width: 80px;" src="{{baseurl}}/api/files/get/{{sitedata?.sitelogo}}" alt="logo"></a>
        <a routerLink="/" id="azMenuShow" class="az-header-menu-icon d-lg-none"><span></span></a>
      </div><!-- az-header-left -->
      <div class="az-header-menu">
        <div class="az-header-menu-header">
          <a routerLink="/" class="az-logo"><img style="width: 80px;" src="{{baseurl}}/api/files/get/{{sitedata?.sitelogo}}" alt="logo"></a>
          <a routerLink="/" class="close">&times;</a>
        </div><!-- az-header-menu-header -->
            <div class="nav">
              <a routerLink="" style="color: #421B4E;font-weight:500;padding-right: 20px;"><img src="assets/img/dashboard.png" style="width: 20px;">&nbsp; Dashboard</a>
              <a routerLink="manage-subscriptions" style="color: #421B4E;font-weight:500;padding-right: 20px;"><img src="assets/img/subscription.png" style="width: 20px;">&nbsp; Manage Subscripton</a>
              <a routerLink="manage-posts" style="color: #421B4E;font-weight:500;padding-right: 20px;"><img src="assets/img/blog.png" style="width: 20px;">&nbsp; Manage Blog</a>
              <a routerLink="manage-courses" style="color: #421B4E;font-weight:500;padding-right: 20px;"><img src="assets/img/learning.png" style="width: 20px;">&nbsp; Manage Courses</a>
              <a routerLink="manage-categories" style="color: #421B4E;font-weight:500;padding-right: 20px;"><img src="assets/img/category.png" style="width: 20px;">&nbsp; Manage Category</a>
              <a routerLink="manage-users" style="color: #421B4E;font-weight:500;padding-right: 20px;"><img src="assets/img/user.png" style="width: 20px;">&nbsp; Manage Users</a>
              <a routerLink="manage-markups" style="color: #421B4E;font-weight:500;padding-right: 20px;"><img src="assets/img/markup.png" style="width: 20px;">&nbsp; Manage Markups</a>
              <a routerLink="manage-products" style="color: #421B4E;font-weight:500;padding-right: 20px;"><img src="assets/img/mail.png" style="width: 20px;">&nbsp; Manage Prodcuts</a>
            </div>
      </div><!-- az-header-menu -->
      <div class="az-header-right">
        <a routerLink="manage-settings">
          <img src="assets/img/gear.png" alt="gear" style="width: 30px;">
        </a>
      </div>
    </div><!-- container -->
  </div>