<div class="az-signin-wrapper">
  <div class="az-card-signin" style="height: 380px;">
    <!-- <h1 class="az-logo"><img style="width: 120px;" src="assets/img/logo.png" alt="logo"></h1> -->
    <div class="az-signin-header">
      <h2>Welcome back!</h2>
      <h4>Please sign in to continue</h4>

        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" [(ngModel)]="formdata['useremail']" placeholder="Enter your email">
        </div><!-- form-group -->
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" [(ngModel)]="formdata['password']" placeholder="Enter your password">
        </div><!-- form-group -->
        <button class="btn btn-az-primary btn-block" (click)="userSignin()">Sign In</button>
    </div><!-- az-signin-header -->
  </div>
</div>